<h1>Some Information</h1>

<p>This service will hopefully be available at two different locations:</p>
<ul>
  <li>On the wide internet as <a href="http://tt.bytesalad.org">http://tt.bytesalad.org</a>.</li>
  <li>On a local WiFi accesspoint with SSID "TracyTritonsPublic". That wireless network has NO connection
      to the internet at large!! All browser/web requests will be answered by my server. Simply
      point your browser to <a href="http://tt.bytesalad.org">http://tt.bytesalad.org</a> or your home page.</li>
</ul>

<p>While both locations run the same software, they might get updated at different times. I know that the
  local version can easly be updated, the internet version is as of yet untested!!"</p>

<p>I hope the information provided here will be useful. It will only be available during the meet!!</p>
