<h1>Meet Information</h1>

<p>This service is an attempt to make all the meet information as widely
  available as possible in a timely manner. But so far, there is still a manual
  step involved, so there might be some delays depending on how smooth
  the meet flows!</p>

<p>I added a special layout for smaller screens. Look to the left for the little
  phone icon. Please let me know, if that helps or does not make a difference.</p>

<p>I'm trying to stream the PA voice as a live MP3 stream. Look to the left for
  the speaker on the Wi-Fi site. Sorry, no streaming over 3G.</p>

<p>The web site will be available at two different locations:</p>
<ul>
  <li>
    <p>On the wide internet as
      <a href="http://tt.bytesalad.org">http://tt.bytesalad.org</a>.</p>
    <p>You can reach this with any 3G enabled device which has a reasonable web
     browser.</p>
  </li>
  <li>
    <p>On a local Wi-Fi accesspoint with SSID "TracyTritonsPublic".
    </p>
    <p>This should work with any Wi-Fi enabled device with a web browser.
    </p>
    <p>The wireless network has NO connection to the internet at large!! All
      browser/web requests will be answered by my server. Simply point your
      browser to <a href="http://tt.bytesalad.org">http://tt.bytesalad.org</a>
      or your home page, you will end up at the same page
    </p>
  </li>
</ul>

<p>While both locations run the same software, they might get updated at different
  times as time permits.</p>

<p>I hope the information provided here will be useful. It will go away some time
  after the meet.</p>
